
header{background-color: #351330;
    padding:10px; 
    ul{display: flex;flex-direction: row; justify-content: center; justify-content: space-between;
    li{background-color: #5c1852;
        border-inline-color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block}}}

        section {background-color: #424254;}

        main { background-color: #424254; .cards{background-color: #64908a;}}   